* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main-section {
  position: relative;
  background-color: #988888;
  color: white;
  min-height: 800px;
  overflow: hidden;
  padding-top: 16px;
}
.main-section__nav-container {
  display: flex;
  justify-content: space-between;
  height: 69px;
  align-items: center;
  margin-bottom: 94px;
}
.main-section__header {
  font-size: 30px;
  text-transform: uppercase;
  display: flex;
}
.main-section__header a {
  margin-right: 1px;
}
.main-section__header span {
  display: inline-block;
  align-items: flex-end;
  margin-top: 20px;
}
.main-section__content-container {
  display: flex;
  position: relative;
}
.main-section__first-elipse {
  position: absolute;
  top: 284px;
  right: 254px;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
}
.nav-menu__list-item {
  margin-top: 10px;
  margin-right: 64px;
  font-size: 18px;
}
.nav-menu__list-item:last-child {
  margin-right: 0;
}

.left-wrapper {
  position: relative;
}
.left-wrapper__img {
  position: relative;
  z-index: 5;
  width: 630px;
  height: 509px;
}
.left-wrapper__rectangle-blue {
  position: absolute;
  width: 565.95px;
  height: 220px;
  top: 150px;
  left: -50px;
  background: #246ace;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-64deg);
  z-index: 2;
}
.left-wrapper__rectangle-orange {
  position: absolute;
  width: 608.46px;
  height: 183.12px;
  left: 270.51px;
  top: 180px;
  left: -25px;
  background: #d0582b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 110px;
  transform: rotate(-50.81deg);
  z-index: 3;
}
.left-wrapper__rectangle-grey {
  position: absolute;
  width: 608.97px;
  height: 220px;
  top: 190px;
  left: 10px;
  background: #f9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  transform: rotate(-36.15deg);
  z-index: 1;
}

.right-wrapper {
  width: 372px;
  position: absolute;
  top: 150px;
  right: 76px;
}
.right-wrapper__icons-box {
  margin-bottom: 1px;
  padding-left: 10px;
}
.right-wrapper__title {
  margin-bottom: 5px;
}
.right-wrapper__text {
  font-size: 16px;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
}
.icons-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #246ace;
  border-radius: 25px;
  font-size: 21px;
  padding: 15px;
  margin-right: 17px;
}
.icons-item:last-child {
  margin-right: 0px;
}

.title {
  font-size: 72px;
  position: relative;
}
.title__hr {
  width: 65px;
  position: absolute;
  top: 35px;
  border: 1px solid black;
}

.buttons {
  display: flex;
}
.buttons__icon-btn {
  display: flex;
  align-items: center;
}
.buttons img {
  margin-right: 12px;
}
.buttons__main-btn {
  margin-right: 32px;
  width: 200px;
  height: 60px;
  background-color: #d0582b;
  color: white;
  font-weight: 600;
  border-radius: 100px;
  border: none;
  font-size: 18px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.elipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138.04px;
  height: 134px;
  border-radius: 100px;
  background: linear-gradient(137.4deg, #d0582b 26.96%, #246ace 49.17%, #c98080 81.93%);
  opacity: 0.5;
}
.elipse__subtract {
  width: 111.89px;
  height: 108.62px;
  border-radius: 100px;
  background: #988888;
}

.second-section {
  position: relative;
  min-height: 700px;
  overflow: hidden;
}
.second-section__container {
  padding-top: 32px;
}
.second-section__cards-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.second-section__title {
  margin-bottom: 42px;
}
.second-section__icons-box {
  display: flex;
  justify-content: space-evenly;
}
.second-section__first-elipse {
  position: absolute;
  top: 120px;
  left: 100px;
  z-index: -1;
}
.second-section__second-elipse {
  position: absolute;
  top: 90px;
  left: 900px;
  z-index: -1;
}
.second-section__third-elipse {
  position: absolute;
  top: 50px;
  left: 1000px;
  z-index: -1;
}
.second-section__forth-elipse-img {
  position: absolute;
  top: 36px;
  left: 1393px;
  z-index: -1;
  width: 200px;
}

.Elipse__subtract {
  width: 111.89px;
  height: 108.62px;
  border-radius: 100px;
  background: white;
}

.icons_item {
  display: inline-flex;
  align-items: center;
}
.icons_item:last-child {
  margin-right: 0;
}
.icons_item__img {
  margin-right: 20px;
  width: 80px;
}
.icons_item__text {
  font-size: 18px;
}
.icons_item__text span {
  font-size: 48px;
}

.third-section {
  position: relative;
  background-color: #988888;
  color: white;
  min-height: 640px;
}
.third-section__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 167px;
  justify-content: space-between;
  padding-top: 46px;
}
.third-section__right-wrapper {
  max-width: 480px;
}
.third-section__right-title {
  margin-bottom: 20px;
}
.third-section__text {
  margin-bottom: 30px;
  font-size: 18px;
}
.third-section .title__hr {
  border: 1px solid white;
}
.third-section__left-img {
  position: absolute;
  top: 177px;
  left: 314px;
  z-index: 1;
  opacity: 0.8;
  width: 200px;
}

.footer {
  position: relative;
}
.footer__img {
  position: absolute;
  left: -1px;
  bottom: 0;
}
.footer__container {
  min-height: 272px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__title {
  margin-bottom: 28px;
  text-align: center;
}
.footer__icons-box {
  display: flex;
  justify-content: center;
  margin-bottom: 131px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */